.ucf-post-search {
  .twitter-typeahead {
    width: 100%;
  }

  .dropdown {
    right: 0;
  }

  .dropdown-menu {
    max-height: 40vh;
    overflow-y: scroll;
    width: 100%;

    @include media-breakpoint-up(md) {
      max-height: 75vh;
      max-width: 100%;
      width: 30rem;
    }
  }

  .dropdown-item {
    white-space: normal;

    &:hover {
      cursor: pointer;
    }
  }
}
