$fa-font-path: '../fonts/font-awesome';

$lead-font-size-md: 1.3rem;

$header-img-xs-width: 575px;
$header-img-xs-height: 575px;

$header-img-sm-height: 525px;
$header-img-short-sm-height: 400px;

$colleges-gray: #404040;
